<form class="crit-message-form">
    <br>
    <h3>
        <p class="formtitle">Natural {{natdice}} messages:</p>
    </h3>
    <br>
    <textarea class="form-nat-txt" name = {{txtaname}} cols="100" rows="10">{{ntl}}</textarea>
    <br><br>You can use <b> ${userwhorolled} </b> as placeholder for reference of the player making the roll<br><br>
    <button class="savenewlist" type="submit" name="submit">Save</button>
</form>